<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .first-section{
            background-image: url(/static/images/gemma-c-stpjHJGqZyw-unsplash.jpg);  
            align-content: center;  
        }
        .section-content {
            display: flex;
            flex-direction: row;
        }
        .hero-buttons{
            display: flex;
        }
        .hero-image-display{
            border-radius: 30px;
        }


    </style>
</head>
<body>
    <section>
        <div class="first-section">
            <div class="section-content"> 
                <div class="left">
                    h1>From the farm to<br>your home</h1>
                    <p>Fresh, seasonal produce from local farms — delivered to your door, every week. No middlemen. No waste. Just honest food.</p>
                    <div class="hero-buttons">
                        <button class="btn-shop">
                            <img src="cart-icon.svg" alt="" width="20"> Shop Now
                        </button>
                        <button class="btn-filled">Meet our farmers</button>
                    </div>
                    </div>  

                <div class="hero-image-display">
                    <img src="/static/images/gemma-c-stpjHJGqZyw-unsplash.jpg" alt="Local produce display">
                </div>
            </div>
        </div>

       
    </section>
</body>
</html>